{% extends 'home/base.html' %}

{% block body %}

    {% if summoner %}
    <div class="container-fluid">
        <h2>{{ summoner.summoner_name }}</h2>
        <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/{{ summoner.profile_icon_id }}.png" />
        <p>{{ summoner.summoner_level }}</p>
    </div>
    {% endif %}


    {% if match_history %}
        <h2>Match History</h2>
        {% for match in match_history %}
            <h3>
                Champion -
                <img height="25px" width="25px" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ match.championName }}.png" />
                <a href="{% url 'match_history:detail' match.gameId %}" >{{ match.championName }} </a> - ({{ match.lane }})
            </h3>
            <h4>Date - {{ match.timestamp }}</h4><br>
        {% endfor %}
    {% endif %}
{% endblock %}