<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Details</title>
</head>
<body>
<h2>Match - {{ match_info }}</h2>
<h2>Blue Team</h2>
<ul>
    <li>win - {{ blue_team.win }}</li>
    <li>firstBlood  - {{ blue_team.firstBlood }}</li>
    <li>firstTower  - {{ blue_team.firstTower }}</li>
    <li>firstBaron  - {{ blue_team.firstBaron }}</li>
    <li>firstDragon  - {{ blue_team.firstDragon }}</li>
    <li>towerKills  - {{ blue_team.towerKills }}</li>
</ul>
<h2>Red Team</h2>
<ul>
    <li>win  - {{ red_team.win }}</li>
    <li>firstBlood  - {{ red_team.firstBlood }}</li>
    <li>firstTower  - {{ red_team.firstTower }}</li>
    <li>firstBaron  - {{ red_team.firstBaron }}</li>
    <li>firstDragon  - {{ red_team.firstDragon }}</li>
    <li>towerKills  - {{ red_team.towerKills }}</li>
</ul>
</body>
</html>